.footer-container {
	position: absolute;
	width: 100%;
	height: 64px;
	left: 0px;
	bottom: 0;

	background: #EEEEEE;

	.footer-disclaimer {
		margin: 26px auto;
		width: 950px;

		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		/* identical to box height */

		color: #333333;
	}
}