.progress-tracker-container {
	position: absolute;
	width: 100%;
	height: 77px;
	left: 0px;
	top: 115px;

	background: #eeeeee;

	.progress-tracker{
		width: 740px;
		margin: 20px 350px 0 350px;
		border-top: 4px solid white;

		.progress-tracker-fill {
			position: absolute;
			top: 20px;
			width: 75px;
			float: left;
			border-top: 4px solid #EBB131;
		}

		.progress-tracker-labels {
			.tracker-label-first {
				margin-left: 0px !important;
			}

			.tracker-label-current {
				font-family: Source Sans Pro SemiBold;
				font-weight: 600;
			}

			p {
				display: inline-block;
				margin-left: 85px;
				font-family: Source Sans Pro;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 20px;
				color: #333333;
			}
		}
	}
}